button {
    margin-top: 50vh;
    margin-left: 48%;
    padding: 14px;
    border-radius: 6px;
    font-size: 16px;
    background-color: transparent;
    border-color: lightgray
}

button:hover{
   background-color: grey;
}